<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Wikiclimb - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/dist/css/main.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClasses %}{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} logged-in{% endif %}{% endblock %}">
        {% block body %}
            {% block nav %}
                {% include 'parts/nav.html.twig' %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            {% if(app.environment == "dev") %}
                <script type="text/javascript" async src="{{ asset('assets/dist/js/main.bundle.js') }}"></script>
            {% else %}
                <script type="text/javascript" async src="{{ asset('assets/dist/js/main.min.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
